composer.lock
composer.phar
/vendor/
.composer
.bash_history
# Backup database
/db_backups/

# Environment files
.env
.env.backup.*

# macOS system files
.DS_Store
**/.DS_Store

# Node.js files
.npm
.npmrc
